/*affects font of whole page*/
* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
/* affects background color of body*/
body {
    background-color: gray;
}
/*affects header, my name and the ul*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: black;
    color: #ffffff;
}
/*affects my name itself*/
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*affects whole header*/
header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}
/*affects the li for examlple About Me*/
header div ul li {
    display: inline-block;
    margin-left: 25px;
}

/*affects color of li, About Me, Work,..*/
a {
    color: #ffffff;
    text-decoration: none;
}

content img[src="assets/image/me.jpeg"] {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;

}
/* affects image under content*/
content img {
    max-width: 100%;
    max-height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
  
}
/*affects how content is presented*/
content {
    width: 90%;
    display: inline-block;
    margin-left: 50px;
}

/* Affects how the div under content is formatted*/
content div {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #ffffff;
}

/*content div img {
    width: 200px;
    height: 334px;
    background-repeat: no-repeat;
    background-size: contain;
    border: 2px solid #e9385a;
    object-fit: cover;
}*/

/*affects the h2 under content Work, Resume, About-Me*/
content h2 {
    margin-bottom: 20px;
    font-size: 36px;
    margin-top: 0px;
}
/*affects everyting under work*/
#Work {
    margin-bottom: 20px;
    padding: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    color: #ffffff;
}

/*affects 01-html png*/
#Work img[src="assets/image/01-html-css-git-homework-demo.png"] {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 10px;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
}
/* affects h3*/
/*.big {
    position: relative;
    top: 670px;
    left: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 10%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px; 
    padding: 20px;
    text-align: center;
}

#Work:hover .big {
    opacity: 1;
}

/* */
/*affects jpg directly*/
#Work img[src="assets/image/edin.JPG"] {
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    padding: 10px;
    flex: 0 0 400px;
    width: 30%;
}

footer{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: black;
}

/*.pro {
    position: relative;
    top: 240px;
    left: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 10%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px; 
    padding: 20px;
    text-align: center;
}

#Work:hover .pro {
    opacity: 1;
}

.pro1 {
    position: relative;
    top: 240px;
    left: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 10%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px; 
    padding: 20px;
    text-align: center;
}

#Work:hover .pro1 {
    opacity: 1;
}

.pro2 {
    position: relative;
    top: 240px;
    left: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 10%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px; 
    padding: 20px;
    text-align: center;
}

#Work:hover .pro2 {
    opacity: 1;
}

.pro3 {
    position: relative;
    top: 240px;
    left: 0px;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 10%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 20px; 
    padding: 20px;
    text-align: center;
}

#Work:hover .pro3 {
    opacity: 1;
}
*/


/*.projects {
    display: block;
}

.projects {
    flex-direction: column;
    background-color: black;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

/*@media screen and (max-width:800px) {
    #Work {
        flex:50%;
        max-width: 50%;
    }
    
}

@media screen and (max-width:600px) {
    #Work {
        flex:100%;
        max-width: 100%;
    }
    
}*/
  
@media screen and (max-width: 800px) {
    .projects {
      flex: 50%;
      max-width: 50%;
    }
  }

  @media screen and (max-width: 600px) {
    .projects {
      flex: 100%;
      max-width: 100%;
    }
  }